// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    padding-top: 50px;
    padding-bottom: 20px;

    color: #320032;

    width: 100%;
    height: 100%;
    text-align: center;

    transition: font-size 1s,
}

h1:hover {
    padding-top: 40px;
    font-size: 3em;
    padding-bottom: 6px;
}

p {
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}

div {
    padding-block-start: 50px;
    text-align: center;
}